.link {  
    display: inline-block;
    text-decoration: none;  
    padding: 12px;
    font-weight: 700;   
    color: #2A363B; 
}

.activeLink {  
    color:  rgb(127, 202, 186);
};

.logo{
    width: 25px;
    height: 25px;
    margin-left: 7px;
    border: 4px solid rgb(127, 202, 186);
    border-radius: 10px;
    
}
 
/* .logo::before {
    display: block;
    content: "";
    width: 23px;
    height: 23px;
    background-size: 14px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    fill: rgb(127, 202, 186);
    border: 4px solid rgb(127, 202, 186);;
    border-radius: 8px;
    margin-left: 10px;
    background-image: url(./addressbook.svg);
} */
  
.icon{
    /* width: 23px;
    height: 23px; */
    fill:rgb(127, 202, 186);
    
} 

.nav_contacts{
    display: flex;
    align-items: center;
}

