.container{
    display: flex;
    
}

.containerLogo{
    height: 20px;
    border: 4px solid rgb(127, 202, 186);
    border-radius: 8px;
    padding: 4px;
    padding-bottom: 0px;
    padding-left: 3px;
    fill: rgb(127, 202, 186);
    margin-top: 5px;
}

.link {  
    display: inline-block;
    text-decoration: none;  
    padding: 12px;
    font-weight: 700;   
    color: #2A363B; 
    
}

.activeLink { 
    color:  rgb(127, 202, 186);
};





